

h1,h2,h3,h4{
    
    padding: 0px;
    margin: 0px;
    
    
  }

  .stretch{
    display: inline-block;
    letter-spacing: -1px;
    
  }

  
  .container{
    position: relative;
    float: left;
    width: 100%;
    padding-top: 70px;
    padding: 0px 8%;
    
    color: rgb(53, 53, 53);
   
  }
.containerMain{
  padding: 8%;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  gap: 10px;

}

.containerCircle{

    padding: 0px 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
  }


  .row{

      position: relative;
      float: left;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
  }
  .col3{
      position: relative;
      float: left;
      width: 25%;
  }
  .col4{
      position: relative;
      float: left;
      width: 33.3%;
  }
  .col5{
      position: relative;
      float: left;
      width: 41.6%;
  }
  .col6{
      position: relative;
      float: left;
      width: 50%;
  }
  .col7{
    position: relative;
    float: left;
    width: 58%;
}
.col8{
    position: relative;
    float: left;
    width: 66.4%;
}

  .col12{
      position: relative;
      float: left;
      width: 100%;
  }

  .textCenter{
      text-align: center;
  }

  .padB1{
    padding-bottom: 10px;
}
  .pad1{
      padding: 10px;
  }
  .pad2{
      padding: 20px;
  }
  .pad3{
      padding: 30px;
  }
  .pad4{
      padding: 40px;
  }
  .pad4{
      padding: 50px;
  }
  .pad8{
    padding: 80px;
}

  .magB1{
      margin-bottom: 10px;
  }
  .magB2{
      margin-bottom: 20px;
  }
  .magB3{
      margin-bottom: 30px;
  }
  .magB4{
    margin-bottom: 40px;
}
.magB5{
  margin-bottom: 50px;
}

.magT6{
margin-top: 60px;
}
.magT8{
margin-top: 80px;
}
.magT16{
    margin-top: 160px;
    }

 
  .links{
    
    display: inline-flex;
    flex-direction: row;
    
    justify-content: space-between;
    
  }
  
  
  .padsmall{
    padding: 20px;
    color: rgb(255, 255, 255);
    z-index: 1000;
  }

  .icon {
     
      color: rgb(143, 143, 143);
      z-index: 1000;
      margin-right: 10px;
      padding-top: 10px;
    }

    .icon:hover {
      
      color: rgb(11, 11, 11);
     
    }

  
  .bold-text-1{
    font-weight: 300;
  }

  .imgSize1{
    width: 200px;
    height: auto;
    border-style: solid;
    border-color: rgb(194, 194, 194);
  }
  
  p{
    text-align: left;
  }

  .circle-img-1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .circleImg2{
    width: 70px;
    height: 70px;
    border-style: dashed;
    border-color: rgb(183, 183, 183);
    border-radius: 50%;
  }

  .img-badges{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  .line-height-1{
    line-height: 15px;
  }
  .line-height-2{
    line-height: 18px;
  }

  .font-size-1{
    font-size: 15px;
  }
  .font-size-2{
    font-size: 18px;
  }

  .sectionBg1{
    background-color: rgb(240, 240, 240);
  }
  .switch-btn-1{
    margin: 5px;
  }
  .figure-text-1{
    font-size: 14px;
  }
  .text1{
      color: rgb(227, 99, 1);
  }
  .text2{
      color: rgb(227, 99, 1);
      font-size: 20px;
      font-weight: bold;
  }

  .imgFluid{
      width: 300px;
      height: 300px;
      border-radius: 50%;
  }
  .shadowSm{
      box-shadow: 1px 0px 5px 1px rgb(205, 205, 205);

  }
  .magT2{
      margin-top: 50px;
  }
  .fw-bold{
      font-weight: bold;
  }
  .items{
      color: rgb(137, 137, 137);
  }
  .btnOutlinePrimary{
      background-color: transparent;
      border-style:solid;
      border-width: thick;
      border-radius: 10px;
      padding: 10px;
      margin:0 auto;
      width: min-content;
      border-color: rgb(210, 210, 210);


  }
  .btnOutlinePrimary:hover{
      background-color: rgb(27, 104, 248);
      color:white;
      text-decoration: none;
  }
  .btnOutlinePrimary a{
      background-color: transparent;
      border-style:solid;
      border-width: thin;
      border-radius: 10px;
      padding: 10px;
      margin: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
  }

  .btnOutlinePrimary a:hover{
      background-color: rgb(27, 104, 248);
      color:white;
      text-decoration: none;
      border-style:none;
      
      font-weight: bold;
  }

  .leftAlign{
    text-align: left;
  }

  .textbold{
    font-weight:100;
    font-size: 25px;
  }

  .linkBtn{
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    padding: 10px 100px 10px 100px;
    text-decoration: none;
  }

  .linkBtn:hover{
    text-decoration: none;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: rgb(0, 183, 255);
  }
  .sectionBgWhite{
    background-color:blueviolet;
    padding: 100px 10%;
  }
  .sectionBgOffWhite{
    background-color: rgb(251, 251, 251);
  }

.sectionTitle{
    font-size: 40px;
    width: 50%;
    line-height: 45px;
    color: white;
    margin: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 200;
}
.aboutContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 70px 20px;
}
.description{
  font-weight: 600;
  font-size: 16px;
}

.aboutContent p{
  font-size: 16px;
  text-align: center;
}

.noOfFreelancers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 239, 254, 0.607);
  border-radius: 50%;
  padding: 50px;
  position: absolute;
  top:-50px;
  height: 250px;
  width: 250px;
  right: -100px;
  text-align: center;
}

.freelancerCount{
  font-size: 70px;
  margin-bottom: 30px;
  color: blueviolet;
}

.countDescription{
  font-size: 30px;
  color: blueviolet;
}

.desP{
    font-size: 16px;
}
.contentCol1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contentCol1 img{
    width: 50px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.subTitles{
    font-weight:500;
    font-size: 18px;
}

.row{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    width: 50%;
    gap: 50px;
}

.row div{
    width: 50%;

}

.roundEdge{
    border-radius: 20px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;

}

.devCard{
    box-shadow: 1px 1px 20px 1px rgb(224, 224, 224);
    border-radius: 20px;
    text-align: left;
    background-color: white;
}

.devCard2{
    box-shadow: 1px 1px 20px 1px rgb(224, 224, 224);
    border-radius: 20px;
    width: 15%;
    text-align: left;
    position: absolute;
    right: 400px;
    top:0px;
    background-color: white;
}

.devCard3{
    box-shadow: 1px 1px 20px 1px rgb(224, 224, 224);
    border-radius: 20px;
    width: 15%;
    text-align: left;
    position: absolute;
    right: 450px;
    top:430px;
    background-color: white;
}


.margin50{
    margin:50px;
}

.marginB50{
    margin-bottom:250px;
}

.padding20{
    padding: 0px 20px;
}

.subTitlesName{
    color: blueviolet;
    font-weight: 600;
}
.subTitlesProfession{
    font-size: 16px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon{
    width: 30px;
}

.yearOfExperience{
    color:blueviolet;
    font-size: 16px;
    font-weight: 500;
}

.marginB200{
    margin-bottom: 80px;
    margin-top: 80px;
}

.marginB100{
    margin-bottom: 50px;
    
}

.calendar{
    border-style: none;
}

.calendarCon{
    box-shadow: 1px 1px 20px 1px rgb(206, 206, 206);
    background-color: rgb(255, 255, 255);
    transform: rotate(20deg);
    border-radius: 20px;
    width: 300px;
    color: rgb(146, 146, 146);
}


.roundBtn{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: blueviolet;
    color: white;
    margin-top: 20px;
    border-style: none;
}

.circle{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(208, 208, 208);
    padding: 10px;
    border-width:2px;
    margin: 0 auto;
}

hr{
    color: white;
    margin: 50px;
}

.devMenus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-width: thin;
    
    margin-bottom: 20px;
    border-color: white;
    color: white;
}

.devMenus button{
    border-style: none;
    font-weight: 200;
    padding: 20px;
    margin: 0px;

    &:hover{
        background-color: rgb(255, 255, 255);
        color: gray;
    }
}


.desktop{
  display: block;
}

.mobile{
  display: none;
  position: relative;
  float: left;
  padding: 50px;
  width: 60%;
}

.mobile img{
  width: 50px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}



@media only screen and (max-width: 768px) {
  .mobile{
    display: block;
    width: 100%;
  }
  .desktop{
    display: none;
  }

  .devCard{
    width: 75%;
    text-align: left;
    position: relative;
    top: 0px;
    background-color: white;
  }
  .sectionTitle {
    
    color: black;
   
}

.imgFluid{
  width: 100%;
  height: auto;
}
.description {
 
  line-height: 43px;
}
.devCard{

  width: 98%;
    text-align: left;
    position: relative;
    top: 0px;
    background-color: white;
    right: 0px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    
}


.devCard .profileImg{
  width: 100%;
  margin-top: 0px;
  border-radius: 50%;
}


}


@media only screen and (max-width: 412px) {
  .mobile{
    display: block;
    width: 100%;
    padding: 40px;
    background-color: blueviolet;
  }

  .desktop{
    display: none;
  }

  
.sectionTitle{
  font-size: 40px;
  width: 80%;
  
}
.devCard{
 
  width: 100%;
    text-align: left;
    position: relative;
    top: 0px;
    background-color: white;
    right: 0px;

    
}

.devCard .profileImg{
  width: 100%;
  margin-top: 0px;
  border-radius: 50%;
}

.aboutContent{
  position: relative;
  float: left;
  width: 100%;
  padding: 0px 70px 70px 0px;
}

}


@media only screen and (max-width: 360px) {
  .mobile{
    display: block;
    width: 95%;
    padding: 40px;
  }

  .desktop{
    display: none;
  }

  .imgFluid{
    width: 100%;
    height: auto;
  }
  .description {
   
    line-height: 43px;
  }
  .devCard{
 
    width: 98%;
      text-align: left;
      position: relative;
      top: 0px;
      background-color: white;
      right: 0px;
      padding-bottom: 10px;
      margin-bottom: 20px;
  
      
  }
}
